@model List<Sistema_de_Reservas_de_Vehículos.Models.User>
@{
    
    <h2>Usuarios</h2>

    <a href="/user/Create">Crear Usuario</a>   

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                
                <td>
                    <a href="/user/Edit/@user.Id">Editar</a> |
                    <a href="/user/Delete/@user.Id">Eliminar</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
}
